sudo: false

language: perl
perl:
  - "5.18"
  - "5.20"
  - "5.22"
  - "5.24"
  - "5.26"
  - "5.28"
  - "5.30"

env:
  global:
    - HARNESS_OPTIONS=j1:c
    - HARNESS_TIMER=1
    - AUTOMATED_TESTING=1
    - NONINTERACTIVE_TESTING=1
    - PERL_MM_USE_DEFAULT=1
    - RELEASE_TESTING=1
    - EXTENDED_TESTING=1
    - TEST_MYSQL_USER=root
    - TEST_MYSQL_PASS=
  matrix:
    - JSON_MAYBEXS_ENGINE=Cpanel::JSON::XS
    - JSON_MAYBEXS_ENGINE=JSON::XS
    - JSON_MAYBEXS_ENGINE=JSON::PP

before_install:
  - cpanm -nq Devel::Cover::Report::Coveralls
  - cpanm -nq JSON::XS Cpanel::JSON::XS JSON::PP
install:
  - cpanm -nq --installdeps .
script:
  - perl Build.PL && ./Build && cover -test
after_success:
  - cover -report coveralls
